<!DOCTYPE html>
<html>
  <head>
    <title>Kerry's Request Header Parser Microservice!</title>
    <meta name="description" content="A request header parser microservice exercise for freecodecamp">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Go to <a href="/api/whoami">https://timestamp-microservice-fcc.glitch.me/December 15, 2015</a>
      </h1>
    </header>
    
    <main>
      <p>
        For example:
        <ul>
          <li></li>
          <li><a href="/1450137600">https://timestamp-microservice-fcc.glitch.me/1450137600</a></li>
        </ul>
      </p>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
